<section class="section-lg bg-white">
    <div class="shell shell-wide">
        <div class="range">
            <div class="cell-md-8">
                <div class="complex-text complex-text-mod">
                    <p class="h1 complex-text-main text-porcelain">FIND</p>
                    <div class="complex-text-aside">
                        <p class="h2 text-porcelain">ANSWERS</p>
                        <p class="h4 header-lighter text-tan-hide">TO ALL QUESTIONS</p>
                    </div>
                </div>
                <!-- Bootstrap tabs-->
                <div class="tab-questions text-center">
                    <a href="#">
                        <blockquote class="quote-classic">
                            <div class="quote-classic-left">
                                <img class="quote-classic-image" src="~/img/home/home1-11-237x268.jpg" alt="" width="280" height="320">
                            </div>
                            <div class="quote-classic-body">
                                <div class="quote-classic-header">
                                    <cite>Hi I have a germane shaperd dog and his ears is not good can you tell me what is that</cite>
                                    <p class="caption">answered by DR. A. HINSON, DVM</p>
                                </div>
                                <p class="quote-classic-text">
                                    <q>Delta is one of the most energetic and cheerful dogs I ever had! Thank you, Animal Shelter, for making my life more positive and happier!</q>
                                </p>
                                <div class="quote-classic-meta">
                                    <ul class="post-meta">
                                        <li>
                                            <span class="icon icon-xs icon-tan-hide material-icons-access_time"></span>
                                            <time datetime="2016-01-01">19 April 2016</time>
                                        </li>
                                        <li><span class="icon icon-xs icon-tan-hide fa fa-thumbs-up"></span><span>23</span></li>
                                        <li><span class="icon icon-xs icon-tan-hide fa fa-comment-o"></span><span>6</span></li>
                                    </ul>
                                    <ul class="post-meta">
                                        <li>
                                            <span class="big text-blue-marguerite">Cats</span>
                                        </li>
                                        <li>
                                            <span class="big text-blue-marguerite">Health</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </blockquote>
                    </a>
                    <a href="#">
                        <blockquote class="quote-classic">
                            <div class="quote-classic-left">
                                <img class="quote-classic-image" src="~/img/home/home1-1-567x381.jpg" alt="" width="280" height="320">
                            </div>
                            <div class="quote-classic-body">
                                <div class="quote-classic-header">
                                    <cite>My dog consumed 3 tiny human prescribed ayurvedic tablets what should I do</cite>
                                    <p class="caption">answered by DR. A. HINSON, DVM</p>
                                </div>
                                <p class="quote-classic-text">
                                    <q>I'm sorry but I am not familiar with these tablets. Can you please post again with photos of the bottle and ingredients? Thank you.</q>
                                </p>
                                <div class="quote-classic-meta">
                                    <ul class="post-meta">
                                        <li>
                                            <span class="icon icon-xs icon-tan-hide material-icons-access_time"></span>
                                            <time datetime="2016-01-01">19 April 2016</time>
                                        </li>
                                        <li><span class="icon icon-xs icon-tan-hide fa fa-thumbs-up"></span><span>23</span></li>
                                        <li><span class="icon icon-xs icon-tan-hide fa fa-comment-o"></span><span>6</span></li>
                                    </ul>
                                    <ul class="post-meta">
                                        <li>
                                            <span class="big text-blue-marguerite">Cats</span>
                                        </li>
                                        <li>
                                            <span class="big text-blue-marguerite">Health</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </blockquote>
                    </a>
                    <a href="#">
                        <blockquote class="quote-classic">
                            <div class="quote-classic-left">
                                <img class="quote-classic-image" src="~/img/home/home1-5-922x657.jpg" alt="" width="280" height="320">
                            </div>
                            <div class="quote-classic-body">
                                <div class="quote-classic-header">
                                    <cite>Iryna Vasyliv</cite>
                                    <p class="caption">and Delta</p>
                                </div>
                                <p class="quote-classic-text">
                                    <q>Delta is one of the most energetic and cheerful dogs I ever had! Thank you, Animal Shelter, for making my life more positive and happier!</q>
                                </p>
                                <div class="quote-classic-meta">
                                    <ul class="post-meta">
                                        <li>
                                            <span class="icon icon-sm icon-tan-hide material-icons-access_time"></span>
                                            <time datetime="2016-01-01">19 April 2016</time>
                                        </li>
                                        <li><span class="icon icon-sm icon-tan-hide fa fa-thumbs-up"></span><span>23</span></li>
                                        <li><span class="icon icon-sm icon-tan-hide fa fa-comment-o"></span><span>6</span></li>
                                    </ul>
                                    <ul class="post-meta">
                                        <li>
                                            <span class="big text-blue-marguerite">Cats</span>
                                        </li>
                                        <li>
                                            <span class="big text-blue-marguerite">Health</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </blockquote>
                    </a>


                    <blockquote class="quote-classic">
                        <div class="quote-classic-left">
                            <img class="quote-classic-image" src="~/img/home/home1-2-567x381.jpg" alt="" width="280" height="320">
                        </div>
                        <div class="quote-classic-body">
                            <div class="quote-classic-header">
                                <cite>Iryna Vasyliv</cite>
                                <a href="/account" class="caption">answered by Vitalii Hrynyshyn</a>
                            </div>
                            <p class="quote-classic-text">
                                <q>Delta is one of the most energetic and cheerful dogs I ever had! Thank you, Animal Shelter, for making my life more positive and happier!</q>
                            </p>
                            <div class="quote-classic-meta">
                                <ul class="post-meta">
                                    <li>
                                        <span class="icon icon-xs icon-tan-hide material-icons-access_time"></span>
                                        <time datetime="2016-01-01">19 April 2016</time>
                                    </li>
                                    <li><span class="icon icon-xs icon-tan-hide fa fa-thumbs-up"></span><span>23</span></li>
                                    <li><span class="icon icon-xs icon-tan-hide fa fa-comment-o"></span><span>6</span></li>

                                </ul>
                                <ul class="post-meta">
                                    <li>
                                        <span class="big text-blue-marguerite">Cats</span>
                                    </li>
                                    <li>
                                        <span class="big text-blue-marguerite">Health</span>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </blockquote>
                    <div class="btn btn-circle btn-silver-outline btn-shadow block-centered">SHOW MORE</div>
                </div>
                @*<ul class="pagination-custom">
                    <li class="disabled"><a href="#" aria-label="Previous"></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#" aria-label="Next"></a></li>
                </ul>*@
            </div>
            <div class="col-md-4">
                <form class="rd-search form-sm search-form-classic" action="search-results.html" method="GET">
                    <div class="form-group">
                        <input class="form-control form-control-square" id="rd-search-form-input" type="text" name="s" autocomplete="off">
                        <label class="form-label rd-input-label" for="rd-search-form-input">Search...</label>
                        <button class="rd-search-submit" type="submit"></button>
                    </div>
                    <div class="panel-group panel-group-custom panel-group-corporate" id="accordion1" role="tablist" aria-multiselectable="true">
                        <h2>Filters</h2>
                        <!-- Bootstrap panel-->
                        <div class="panel panel-custom panel-corporate">
                            <div class="panel-heading" id="accordion1Heading1" role="tab">
                                <div class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion1" href="https://livedemo00.template-help.com/wt_61279/host-your-own-fundraiser.html#accordion1Collapse1" aria-controls="accordion1Collapse1" aria-expanded="false" class="collapsed">
                                        Types of animal
                                        <div class="panel-arrow"></div>
                                    </a>

                                </div>
                            </div>
                            <div class="panel-collapse collapse" id="accordion1Collapse1" role="tabpanel" aria-labelledby="accordion1Heading1" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <div class="btn btn-sm btn-silver-outline" style="margin-top: 2px">Dog</div>
                                    <div class="btn btn-sm btn-primary" style="margin-top: 2px">Cat</div>
                                    <div class="btn btn-sm btn-primary" style="margin-top: 2px">Farm animal</div>
                                    <div class="btn btn-sm btn-silver-outline" style="margin-top: 2px">Reptile</div>
                                    <div class="btn btn-sm btn-primary" style="margin-top: 2px">Exotic</div>
                                    <div class="btn btn-sm btn-silver-outline" style="margin-top: 2px">Bird</div>
                                    <div class="btn btn-sm btn-silver-outline" style="margin-top: 2px">Fish</div>
                                    <div class="btn btn-sm btn-silver-outline" style="margin-top: 2px">Amphibian</div>
                                    <div class="btn btn-sm btn-silver-outline" style="margin-top: 2px">Spiders & Insects</div>
                                    <div class="btn btn-sm btn-silver-outline" style="margin-top: 2px">Small animal</div>
                                    <div class="btn btn-sm btn-silver-outline" style="margin-top: 2px">Other</div>
                                </div>
                            </div>
                        </div>
                        <!-- Bootstrap panel-->
                        <div class="panel panel-custom panel-corporate">
                            <div class="panel-heading" id="accordion1Heading2" role="tab">
                                <div class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="https://livedemo00.template-help.com/wt_61279/host-your-own-fundraiser.html#accordion1Collapse2" aria-controls="accordion1Collapse2" aria-expanded="false">
                                        Categories
                                        <div class="panel-arrow"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="panel-collapse collapse" id="accordion1Collapse2" role="tabpanel" aria-labelledby="accordion1Heading2" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <div class="btn btn-sm btn-silver-outline" style="margin-top: 2px">Health</div>
                                    <div class="btn btn-sm btn-primary" style="margin-top: 2px">Behavior & Training</div>
                                    <div class="btn btn-sm btn-primary" style="margin-top: 2px">Nutrition</div>
                                    <div class="btn btn-sm btn-silver-outline" style="margin-top: 2px">Care</div>
                                    <div class="btn btn-sm btn-primary" style="margin-top: 2px">Breeds</div>
                                    <div class="btn btn-sm btn-silver-outline" style="margin-top: 2px">Holistic Health Care</div>
                                    <div class="btn btn-sm btn-silver-outline" style="margin-top: 2px">Natural Pet Products</div>
                                    <div class="btn btn-sm btn-silver-outline" style="margin-top: 2px">Product Recoment</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="btn btn-sm btn-xl btn-icon btn-icon-right btn-silver-outline " style="width: 100%"> <span class="icon icon-md material-icons-close"></span>Clear all</div>
                    
                    <div class="cell-xs-6 height-fill bg-blue-marguerite" style="margin-top: 20px">
                        <div class="counter-box-bold">
                            <div class="counter  animated" data-from="0" data-to="2.5" data-formatter="false">ASK</div>
                            <p class="counter-box-header">a vet</p>
                            <a asp-controller="Account" asp-action="AddQuestion" class="btn btn-silver-outline btn-circle">Click here to ask a vet</a>
                        </div>
                    </div>
                </form>
                
        </div>
    </div>
    </div>
</section>