<section class="section-lg bg-white">
    <div class="shell shell-wide">
        <div class="range">
            <div class="cell-md-8">
                <div class="complex-text complex-text-mod">
                    <p class="h1 complex-text-main text-porcelain">FIND</p>
                    <div class="complex-text-aside">
                        <p class="h2 text-porcelain">ANSWERS</p>
                        <p class="h4 header-lighter text-tan-hide">TO ALL QUESTIONS</p>
                    </div>
                </div>
                <!-- Bootstrap tabs-->
                <a href="#">
                    <blockquote class="quote-classic">
                        <div class="quote-classic-left"><img class="quote-classic-image" src="~/img/home/home1-5-922x657.jpg" alt="" width="280" height="320">
                        </div>
                        <div class="quote-classic-body">
                            <div class="quote-classic-header">
                                <cite>Iryna Vasyliv</cite>
                                <p class="caption">and Delta</p>
                            </div>
                            <p class="quote-classic-text">
                                <q>Delta is one of the most energetic and cheerful dogs I ever had! Thank you, Animal Shelter, for making my life more positive and happier!</q>
                            </p>
                            <div class="quote-classic-meta">
                                <ul class="post-meta">
                                    <li><span class="icon icon-xs icon-tan-hide material-icons-access_time"></span>
                                        <time datetime="2016-01-01">19 Квітня 2016</time>
                                    </li>
                                    <li><span class="icon icon-xs icon-tan-hide fa fa-thumbs-up"></span><span>23</span></li>
                                    <li><span class="icon icon-xs icon-tan-hide fa fa-comment-o"></span><span>6</span></li>
                                </ul>
                            </div>
                        </div>
                    </blockquote>
                </a>
                <a href="#">
                    <blockquote class="quote-classic">
                        <div class="quote-classic-left"><img class="quote-classic-image" src="~/img/home/home1-1-567x381.jpg" alt="" width="280" height="320">
                        </div>
                        <div class="quote-classic-body">
                            <div class="quote-classic-header">
                                <cite>Iryna Vasyliv</cite>
                                <p class="caption">and Delta</p>
                            </div>
                            <p class="quote-classic-text">
                                <q>Delta is one of the most energetic and cheerful dogs I ever had! Thank you, Animal Shelter, for making my life more positive and happier!</q>
                            </p>
                            <div class="quote-classic-meta">
                                <ul class="post-meta">
                                    <li><span class="icon icon-xs icon-tan-hide material-icons-access_time"></span>
                                        <time datetime="2016-01-01">19 Квітня 2016</time>
                                    </li>
                                    <li><span class="icon icon-xs icon-tan-hide fa fa-thumbs-up"></span><span>23</span></li>
                                    <li><span class="icon icon-xs icon-tan-hide fa fa-comment-o"></span><span>6</span></li>
                                </ul>
                            </div>
                        </div>
                    </blockquote>
                </a>
                <a href="#">
                    <blockquote class="quote-classic">
                        <div class="quote-classic-left"><img class="quote-classic-image" src="~/img/home/home1-11-237x268.jpg" alt="" width="280" height="320">
                        </div>
                        <div class="quote-classic-body">
                            <div class="quote-classic-header">
                                <cite>Delta is one of the most energetic and cheerful dogs I ever had</cite>
                                <p class="caption">and Delta</p>
                            </div>
                            <p class="quote-classic-text">
                                <q>Delta is one of the most energetic and cheerful dogs I ever had! Thank you, Animal Shelter, for making my life more positive and happier!</q>
                            </p>
                            <div class="quote-classic-meta">
                                <ul class="post-meta">
                                    <li><span class="icon icon-xs icon-tan-hide material-icons-access_time"></span>
                                        <time datetime="2016-01-01">19 Квітня 2016</time>
                                    </li>
                                    <li><span class="icon icon-xs icon-tan-hide fa fa-thumbs-up"></span><span>23</span></li>
                                    <li><span class="icon icon-xs icon-tan-hide fa fa-comment-o"></span><span>6</span></li>
                                </ul>
                            </div>
                        </div>
                    </blockquote>
                </a>
                <blockquote class="quote-classic">
                    <div class="quote-classic-left"><img class="quote-classic-image" src="~/img/home/home1-2-567x381.jpg" alt="" width="280" height="320">
                    </div>
                    <div class="quote-classic-body">
                        <div class="quote-classic-header">
                            <cite>Iryna Vasyliv</cite>
                            <a href="/account" class="caption">answered by Vitalii Hrynyshyn</a>
                        </div>
                        <p class="quote-classic-text">
                            <q>Delta is one of the most energetic and cheerful dogs I ever had! Thank you, Animal Shelter, for making my life more positive and happier!</q>
                        </p>
                        <div class="quote-classic-meta">
                            <ul class="post-meta">
                                <li><span class="icon icon-xs icon-tan-hide material-icons-access_time"></span>
                                    <time datetime="2016-01-01">19 Квітня 2016</time>
                                </li>
                                <li><span class="icon icon-xs icon-tan-hide fa fa-thumbs-up"></span><span>23</span></li>
                                <li><span class="icon icon-xs icon-tan-hide fa fa-comment-o"></span><span>6</span></li>
                                   
                            </ul>
                               
                        </div>
                    </div>
                </blockquote>
            </div>
            <div class="col-md-4">
                <form class="rd-search form-sm search-form-classic" action="search-results.html" method="GET">
                    <div class="form-group">
                        <input class="form-control form-control-square" id="rd-search-form-input" type="text" name="s" autocomplete="off">
                        <label class="form-label rd-input-label" for="rd-search-form-input">Search...</label>
                        <button class="rd-search-submit" type="submit"></button>
                    </div>
                    <div class="form-group">
                        <div class="grid-element bg-gray-light">
                            <img class="img-responsive" src="~/img/gift-online-1-370x272.jpg"/>
                            <div class="thumbnail-boxed-body">
                                <p class="thumbnail-boxed-title">
                                    <a href="single-page-pets.html">Lavender</a>
                                </p>
                                <div class="thumbnail-boxed-text">
                                    <p>This beautiful cat had health issues her family couldn’t take care of, so she came to us...</p>
                                </div>
                                <div class="thumbnail-boxed-footer">
                                    <ul class="thumbnail-boxed-meta">
                                        <li><span class="icon icon-xs icon-tan-hide material-icons-event_available"></span><span>2.1 years old</span></li>
                                        <li><span class="icon icon-xs icon-tan-hide material-icons-done"></span><span>7 pounds</span></li>
                                        <li><span class="icon icon-xs icon-tan-hide material-icons-place"></span><span>New York</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                
        </div>
    </div>
    </div>
</section>