<section class="section-md bg-white">
    <div class="shell shell-wide">
    <div class="range">
        <div class="cell-md-8">
            <blockquote class="quote-classic">
                <div class="quote-classic-left">
                    <img class="quote-classic-image" src="/img/home/home1-5-922x657.jpg" alt="" width="280" height="320">
                </div>
                <div class="quote-classic-body">
                    <div class="quote-classic-header">
                        <cite>Hello doctor, From last two three days my rabbit's testicle is getting black and hard. One side is totally harden but the other side is affected half. But he is behaving totally normal. I don't have any good vet for my rabbit near my home town. Can you please suggest any treatment or medication or any care tips. He is about 3 yrs old. Thank you</cite>
                        <p class="caption">and Delta</p>
                    </div>
                    <div class="quote-classic-meta">
                        <ul class="post-meta">
                            <li>
                                <span class="icon icon-xs icon-tan-hide material-icons-access_time"></span>
                                <time datetime="2016-01-01">19 April 2016</time>
                            </li>
                            <div class="likes pull-right" style="width: 133px">
                                <div class="like grow">
                                    <i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i>
                                    <span class="likes-count">0</span>
                                </div>
                                <!-- Thumbs down -->
                                <div class="dislike grow">
                                    <i class="fa fa-thumbs-down fa-2x" aria-hidden="true"></i>
                                    <span class="dislikes-count">0</span>
                                </div>
                            </div>
                        </ul>
                        <ul class="post-meta">
                            <li>
                                <span class="big text-blue-marguerite">Cats</span>
                            </li>
                            <li>
                            <span class="big text-blue-marguerite">Health</span>
                            </li>
                        </ul>

                    </div>
                   
                </div>
                
            </blockquote>
            <div class="panel panel-custom panel-corporate">
                <div class="panel-heading" id="accordion1Heading1" role="tab">
                    <div class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion1" href="https://livedemo00.template-help.com/wt_61279/host-your-own-fundraiser.html#accordion1Collapse1" aria-controls="accordion1Collapse1" aria-expanded="false" class="collapsed">
                            This question has photos attached
                            <div class="panel-arrow"></div>
                        </a>
                    </div>
                </div>
                <div class="panel-collapse collapse" id="accordion1Collapse1" role="tabpanel" aria-labelledby="accordion1Heading1" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <div class="row  spacing-10 flickr" data-flickr-tags="tm-61279" data-photo-swipe-gallery="gallery">
                            <div class="col-xs-4">
                                <div class="flickr-item" data-type="flickr-item">
                                    <a class="thumbnail-flickr" data-image_b="href" data-photo-swipe-item="" href="https://live.staticflickr.com/5334/30795320482_fee993718b_b.jpg" data-size="1023x884">
                                        <figure><img src="https://live.staticflickr.com/5334/30795320482_fee993718b_m.jpg" data-image_m="src" data-title="alt" width="165" height="165" alt="Pretty Kitty"></figure>
                                        <div class="thumbnail-overlay"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="flickr-item" data-type="flickr-item">
                                    <a class="thumbnail-flickr" data-image_b="href" data-photo-swipe-item="" href="https://live.staticflickr.com/5595/30795320882_b505c9aec4_b.jpg" data-size="1024x681">
                                        <figure><img src="https://live.staticflickr.com/5595/30795320882_b505c9aec4_m.jpg" data-image_m="src" data-title="alt" width="165" height="165" alt="Shepherd-dog"></figure>
                                        <div class="thumbnail-overlay"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="flickr-item" data-type="flickr-item">
                                    <a class="thumbnail-flickr" data-image_b="href" data-photo-swipe-item="" href="https://live.staticflickr.com/5825/30795320082_29a28cf3bc_b.jpg" data-size="1024x681">
                                        <figure><img src="https://live.staticflickr.com/5825/30795320082_29a28cf3bc_m.jpg" data-image_m="src" data-title="alt" width="165" height="165" alt="Wildlife and Animals - Exotic Bird"></figure>
                                        <div class="thumbnail-overlay"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cell-md-8 quote-classic-body" style="margin-top: 30px">
                <h3>Answer</h3>
                <blockquote class="quote-primary">
                    <div class="quote-primary-body">
                        <svg class="quote-primary-mark" version="1.1" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="21px" height="15px" viewBox="0 0 21 15" overflow="scroll" xml:space="preserve" preserveAspectRatio="none">
                            <path d="M9.597,10.412c0,1.306-0.473,2.399-1.418,3.277c-0.944,0.876-2.06,1.316-3.349,1.316                         c-1.287,0-2.414-0.44-3.382-1.316C0.482,12.811,0,11.758,0,10.535c0-1.226,0.58-2.716,1.739-4.473L5.603,0H9.34L6.956,6.37                         C8.716,7.145,9.597,8.493,9.597,10.412z M20.987,10.412c0,1.306-0.473,2.399-1.418,3.277c-0.944,0.876-2.06,1.316-3.35,1.316                         c-1.288,0-2.415-0.44-3.381-1.316c-0.966-0.879-1.45-1.931-1.45-3.154c0-1.226,0.582-2.716,1.74-4.473L16.994,0h3.734l-2.382,6.37                         C20.106,7.145,20.987,8.493,20.987,10.412z"></path>
                        </svg>
                        <div class="quote-primary-text">
                            <q>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</q>
                        </div>
                    </div>
                    <div class="quote-primary-footer">
                        <img src="/img/theresa-lane-80x80.jpg" alt="" width="80" height="80" style="margin-right: 20px">
                        <cite>Dennis Williams</cite>

                        <ul class="post-meta">
                            <li>
                                <span class="icon icon-xs icon-tan-hide material-icons-access_time"></span>
                                <time datetime="2016-01-01">19 April 2016</time>
                            </li>
                            <div class="likes pull-right" style="width: 133px">
                                <div class="like grow">
                                    <i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i>
                                    <span class="likes-count">0</span>
                                </div>
                                <!-- Thumbs down -->
                                <div class="dislike grow">
                                    <i class="fa fa-thumbs-down fa-2x" aria-hidden="true"></i>
                                    <span class="dislikes-count">0</span>
                                </div>
                            </div>
                        </ul>
                    </div>
                </blockquote>

            </div>
        </div>
    <div class="col-md-4">
        <div class="cell-xs-12 height-fill bg-blue-marguerite" style="margin-top: 20px">
            <div class="counter-box-bold">
                <div class="counter  animated" data-from="0" data-to="2.5" data-formatter="false">ASK</div>
                <p class="counter-box-header">a vet</p>
                <a asp-controller="Account" asp-action="AddQuestion" class="btn btn-silver-outline btn-circle">Click here to ask a vet</a>
            </div>
        </div>
        <form class="rd-search form-sm search-form-classic" action="search-results.html" method="GET">
            <div class="panel-group panel-group-custom panel-group-corporate" id="accordion1" role="tablist" aria-multiselectable="true" style="margin-top: 30px">
                <h2>Related questions</h2>

                <div class="range range-xs-center spacing-30 text-center">
                    <div class="cell-xs-10 cell-sm-6 cell-md-12">
                        <ul class="list-md">
                            <li>
                                <article class="post-preview">
                                    <div class="unit unit-spacing-xs unit-horizontal unit-middle">
                                        <div class="unit-left">
                                            <img class="post-preview-image" src="~/img/news-1-103x60.jpg" alt="" width="103" height="60">
                                        </div>
                                        <div class="unit-body">
                                            <p class="post-preview-title"><a href="#">Wellness Care Plans for Your Pets and Their Benefitsli</a>
                                            </p>
                                        </div>
                                    </div>
                                </article>
                            </li>
                            <li>
                                <article class="post-preview">
                                    <div class="unit unit-spacing-xs unit-horizontal unit-middle">
                                        <div class="unit-left">
                                            <img class="post-preview-image" src="~/img/news-3-103x60.jpg" alt="" width="103" height="60">
                                        </div>
                                        <div class="unit-body">
                                            <p class="post-preview-title"><a href="#">How Cats Can Improve Your Human Relationships</a>
                                            </p>
                                        </div>
                                    </div>
                                </article>
                            </li>
                            <li>
                                <article class="post-preview">
                                    <div class="unit unit-spacing-xs unit-horizontal unit-middle">
                                        <div class="unit-left">
                                            <img class="post-preview-image" src="~/img/news-2-103x60.jpg" alt="" width="103" height="60">
                                        </div>
                                        <div class="unit-body">
                                            <p class="post-preview-title"><a href="#">Top 5 Most Affectionate Cats for You and Your Family</a>
                                            </p>
                                        </div>
                                    </div>
                                </article>
                            </li>
                            <li>
                                <article class="post-preview">
                                    <div class="unit unit-spacing-xs unit-horizontal unit-middle">
                                        <div class="unit-left">
                                            <img class="post-preview-image" src="~/img/news-2-103x60.jpg" alt="" width="103" height="60">
                                        </div>
                                        <div class="unit-body">
                                            <p class="post-preview-title"><a href="#">Top 5 Most Affectionate Cats for You and Your Family</a>
                                            </p>
                                        </div>
                                    </div>
                                </article>
                            </li>
                        </ul>
                        <a href="#" class="btn btn-circle btn-silver-outline btn-shadow">View more</a>
                    </div>

                </div>
            </div>
        </form>

    </div>
    </div>
    <div class="shell shell-wide" style="margin-top: 20px">
        <hr>
    </div>
        <div class="shell shell-wide" style="margin-top: 20px">
            <div class="range spacing-55">
                <div class="cell-md-7 cell-lg-8">
                    <div class="blog-main">
                        <div class="blog-main-item">
                            <h4>More answers</h4>
                            <div class="comment-group">
                                <!-- Comment-->
                                <article class="comment">
                                    <div class="comment-avatar">
                                        <img src="~/img/theresa-lane-80x80.jpg" alt="" width="80" height="80">
                                    </div>
                                    <div class="comment-body">
                                        <div class="comment-header">
                                            <p class="comment-title">Theresa Lane</p><span class="comment-time">2 days ago</span>
                                        </div>
                                        <div class="comment-text">
                                            <p>Thank you for your article, I think it can be very useful to volunteers of Animal Shelter.</p>
                                        </div>
                                        <div class="comment-footer">
                                            <div class="comment-footer">
                                                <div class="likes">
                                                    <div class="like grow">
                                                        <i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i>
                                                        <span class="likes-count">0</span>
                                                    </div>
                                                    <!-- Thumbs down -->
                                                    <div class="dislike grow">
                                                        <i class="fa fa-thumbs-down fa-2x" aria-hidden="true"></i>
                                                        <span class="dislikes-count">0</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="comment-group">
                                <!-- Comment-->
                                <article class="comment">
                                    <div class="comment-avatar">
                                        <img src="~/img/theresa-lane-80x80.jpg" alt="" width="80" height="80">
                                    </div>
                                    <div class="comment-body">
                                        <div class="comment-header">
                                            <p class="comment-title">Theresa Lane</p><span class="comment-time">2 days ago</span>
                                        </div>
                                        <div class="comment-text">
                                            <p>Thank you for your article, I think it can be very useful to volunteers of Animal Shelter.</p>
                                        </div>
                                        <div class="comment-footer">
                                            <div class="comment-footer">
                                                <div class="likes">
                                                    <div class="like grow">
                                                        <i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i>
                                                        <span class="likes-count">0</span>
                                                    </div>
                                                    <!-- Thumbs down -->
                                                    <div class="dislike grow">
                                                        <i class="fa fa-thumbs-down fa-2x" aria-hidden="true"></i>
                                                        <span class="dislikes-count">0</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="blog-main-item">
                            <h4>Send a Comment</h4>
                            <!-- RD Mailform-->
                            <form class="rd-mailform form-wide" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php" novalidate="novalidate">
                                <div class="range range-sm-bottom spacing-30">
                                    <div class="cell-xs-12">
                                        <div class="form-group">
                                            <textarea class="form-control form-control-has-validation" id="comment-message" name="message" data-constraints="@@Required"></textarea><span class="form-validation"></span>
                                            <label class="form-label rd-input-label" for="comment-message">Message</label>
                                        </div>
                                    </div>
                                    <div class="cell-xs-12">
                                        <button class="btn btn-primary btn-effect-ujarak btn-block" type="submit">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

</section>
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container" style="transform: translate3d(0px, 0px, 0px);">
            <div class="pswp__item" style="display: block; transform: translate3d(-2062px, 0px, 0px);"><div class="pswp__zoom-wrap" style="transform: translate3d(321px, 105px, 0px) scale(0.868621);"><img class="pswp__img" src="./Lost &amp; Found_files/grid-gallery-1-1200x800_original.jpg" style="opacity: 1; width: 1382px; height: 921px;"></div></div>
            <div class="pswp__item" style="transform: translate3d(0px, 0px, 0px);"><div class="pswp__zoom-wrap" style="transform: translate3d(734.5px, 374.453px, 0px) scale(0.32139);"><div class="pswp__img pswp__img--placeholder pswp__img--placeholder--blank" style="width: 1151px; height: 921px; display: none;"></div><img class="pswp__img" src="./Lost &amp; Found_files/grid-gallery-2-1200x960_original.jpg" style="display: block; width: 1151px; height: 921px;"></div></div>
            <div class="pswp__item" style="display: block; transform: translate3d(2062px, 0px, 0px);"><div class="pswp__zoom-wrap" style="transform: translate3d(321px, 105px, 0px) scale(0.868621);"><img class="pswp__img" src="./Lost &amp; Found_files/grid-gallery-3-1200x800_original.jpg" style="opacity: 1; width: 1382px; height: 921px;"></div></div>
        </div>
        <div class="pswp__ui pswp__ui--fit pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter">2 / 9</div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__cent"></div>
            </div>
        </div>
    </div>
</div>