<section class="section-lg bg-white">
    <div class="shell shell-wide">
        <div class="range">
            <div class="cell-md-8">
                <div class="range spacing-30">
                    <div class="cell-sm-6">
                        <!-- Post boxed-->
                        <article class="post-boxed">
                            <img class="post-boxed-image" src="~/img/news-1-570x333.jpg" alt="" width="570" height="333">
                            <div class="post-boxed-body">
                                <p class="post-boxed-title">
                                    <a href="single-post.html">Wellness Care Plans for Your Pets and Their Benefits</a>
                                    <div class="quote-classic">
                                <p class="caption">by <a href="#">Iryna Vasyliv</a></p>
                                    </div>
                                </p>
                                <div class="post-boxed-text">
                                    <p>Have you ever considered enrolling your pet in a wellness care plan? These plans are quickly gaining popularity, and with good reason...</p>
                                </div>
                                <div class="post-boxed-footer">
                                    <ul class="post-meta">
                                            <li>
                                                <span class="icon icon-sm icon-tan-hide material-icons-access_time"></span>
                                                <time datetime="2016-01-01">19 April 2016</time>
                                            </li>
                                            <li><span class="icon icon-sm icon-tan-hide fa fa-thumbs-up"></span><span>23</span></li>
                                            <li><span class="icon icon-sm icon-tan-hide fa fa-comment-o"></span><span>6</span></li>
                                        <div class="pull-right">
                                            <li><span class="big text-blue-marguerite pull-right">Rabbits</span></li>
                                            <li><span class="big text-blue-marguerite pull-right">Care</span></li>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="cell-sm-6">
                        <!-- Post boxed-->
                        <article class="post-boxed post-boxed-blue-marguerite">
                            <img class="post-boxed-image" src="~/img/news-2-570x333.jpg" alt="" width="570" height="333">
                            <div class="post-boxed-body">
                                <p class="post-boxed-title">
                                    <a href="single-post.html">Top 5 Most Affectionate Cats for You and Your Family</a>
                                    <div class="quote-classic">
                                        <p class="caption">by <a href="#">Iryna Vasyliv</a></p>
                                    </div>
                                </p>
                                <div class="post-boxed-text">
                                    <p>Contrary to popular belief, not all cats are the epitome of indifference. Some cat breeds are among the most affectionate and loving pets...</p>
                                </div>
                                <div class="post-boxed-footer">
                                    <ul class="post-meta">
                                        <li>
                                            <span class="icon icon-sm icon-tan-hide material-icons-access_time"></span>
                                            <time datetime="2016-01-01">19 April 2016</time>
                                        </li>
                                        <li><span class="icon icon-sm icon-tan-hide fa fa-thumbs-up"></span><span>23</span></li>
                                        <li><span class="icon icon-sm icon-tan-hide fa fa-comment-o"></span><span>6</span></li>
                                        <div class="pull-right">
                                            <li><span class="big text-blue-marguerite pull-right">Rabbits</span></li>
                                            <li><span class="big text-blue-marguerite pull-right">Care</span></li>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="cell-sm-6">
                        <!-- Post boxed-->
                        <article class="post-boxed post-boxed-tan-hide">
                            <img class="post-boxed-image" src="~/img/news-3-570x333.jpg" alt="" width="570" height="333">
                            <div class="post-boxed-body">
                                <p class="post-boxed-title"><a href="single-post.html">How Cats Can Improve Your Human Relationships</a></p>
                                <div class="post-boxed-text">
                                    <p>In the past we’ve written about the effect cats have on humans. Today’s post takes this concept a step further. Here we are going to discuss how cats...</p>
                                </div>
                                <div class="post-boxed-footer">
                                    <ul class="post-meta">
                                        <li>
                                            <span class="icon icon-xs icon-tan-hide material-icons-access_time"></span>
                                            <time datetime="2016-01-01">18 February 2016</time>
                                        </li>
                                        <li><span class="icon icon-xs icon-tan-hide mdi mdi-thumb-up"></span><span>50</span></li>
                                        <li><a href="single-post.html"><span class="icon icon-xs icon-tan-hide mdi mdi-comment-outline"></span><span>8</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="cell-sm-6">
                        <!-- Post boxed-->
                        <article class="post-boxed">
                            <img class="post-boxed-image" src="~/img/news-4-570x333.jpg" alt="" width="570" height="333">
                            <div class="post-boxed-body">
                                <p class="post-boxed-title"><a href="single-post.html">Top 4 Dog Breeds You Can Easily Take to Work</a></p>
                                <div class="post-boxed-text">
                                    <p>A dog in the workplace provides many positive benefits. However, before you decide to bring your dog to work with you check your company policies...</p>
                                </div>
                                <div class="post-boxed-footer">
                                    <ul class="post-meta">
                                        <li>
                                            <span class="icon icon-sm icon-tan-hide material-icons-access_time"></span>
                                            <time datetime="2016-01-01">19 April 2016</time>
                                        </li>
                                        <li><span class="icon icon-sm icon-tan-hide fa fa-thumbs-up"></span><span>23</span></li>
                                        <li><span class="icon icon-sm icon-tan-hide fa fa-comment-o"></span><span>6</span></li>
                                        <div class="pull-right">
                                            <li><span class="big text-blue-marguerite pull-right">Cats</span></li>
                                            <li><span class="big text-blue-marguerite pull-right">Health</span></li>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <form class="rd-search form-sm search-form-classic" action="search-results.html" method="GET">
                    <div class="form-group">
                        <input class="form-control form-control-square" id="rd-search-form-input" type="text" name="s" autocomplete="off">
                        <label class="form-label rd-input-label" for="rd-search-form-input">Search...</label>
                        <button class="rd-search-submit" type="submit"></button>
                    </div>
                    <div class="panel-group panel-group-custom panel-group-corporate" id="accordion1" role="tablist" aria-multiselectable="true">
                        <h2>Filters</h2>
                        <!-- Bootstrap panel-->
                        <div class="panel panel-custom panel-corporate">
                            <div class="panel-heading" id="accordion1Heading1" role="tab">
                                <div class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion1" href="https://livedemo00.template-help.com/wt_61279/host-your-own-fundraiser.html#accordion1Collapse1" aria-controls="accordion1Collapse1" aria-expanded="false" class="collapsed">
                                        Types of animal
                                        <div class="panel-arrow"></div>
                                    </a>

                                </div>
                            </div>
                            <div class="panel-collapse collapse" id="accordion1Collapse1" role="tabpanel" aria-labelledby="accordion1Heading1" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <div class="btn btn-sm btn-silver-outline" style="margin-top: 2px">Dog</div>
                                    <div class="btn btn-sm btn-primary" style="margin-top: 2px">Cat</div>
                                    <div class="btn btn-sm btn-primary" style="margin-top: 2px">Farm animal</div>
                                    <div class="btn btn-sm btn-silver-outline" style="margin-top: 2px">Reptile</div>
                                    <div class="btn btn-sm btn-primary" style="margin-top: 2px">Exotic</div>
                                    <div class="btn btn-sm btn-silver-outline" style="margin-top: 2px">Bird</div>
                                    <div class="btn btn-sm btn-silver-outline" style="margin-top: 2px">Fish</div>
                                    <div class="btn btn-sm btn-silver-outline" style="margin-top: 2px">Amphibian</div>
                                    <div class="btn btn-sm btn-silver-outline" style="margin-top: 2px">Spiders & Insects</div>
                                    <div class="btn btn-sm btn-silver-outline" style="margin-top: 2px">Small animal</div>
                                    <div class="btn btn-sm btn-silver-outline" style="margin-top: 2px">Other</div>
                                </div>
                            </div>
                        </div>
                        <!-- Bootstrap panel-->
                        <div class="panel panel-custom panel-corporate">
                            <div class="panel-heading" id="accordion1Heading2" role="tab">
                                <div class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="https://livedemo00.template-help.com/wt_61279/host-your-own-fundraiser.html#accordion1Collapse2" aria-controls="accordion1Collapse2" aria-expanded="false">
                                        Categories
                                        <div class="panel-arrow"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="panel-collapse collapse" id="accordion1Collapse2" role="tabpanel" aria-labelledby="accordion1Heading2" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <div class="btn btn-sm btn-silver-outline" style="margin-top: 2px">Health</div>
                                    <div class="btn btn-sm btn-primary" style="margin-top: 2px">Behavior & Training</div>
                                    <div class="btn btn-sm btn-primary" style="margin-top: 2px">Nutrition</div>
                                    <div class="btn btn-sm btn-silver-outline" style="margin-top: 2px">Care</div>
                                    <div class="btn btn-sm btn-primary" style="margin-top: 2px">Breeds</div>
                                    <div class="btn btn-sm btn-silver-outline" style="margin-top: 2px">Holistic Health Care</div>
                                    <div class="btn btn-sm btn-silver-outline" style="margin-top: 2px">Natural Pet Products</div>
                                    <div class="btn btn-sm btn-silver-outline" style="margin-top: 2px">Product Recoment</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="btn btn-sm btn-xl btn-icon btn-icon-right btn-silver-outline " style="width: 100%"> <span class="icon icon-md material-icons-close"></span>Clear all</div>

                    <div class="cell-xs-6 height-fill bg-blue-marguerite" style="margin-top: 20px">
                        <div class="counter-box-bold">
                            <div class="counter  animated" data-from="0" data-to="2.5" data-formatter="false">ASK</div>
                            <p class="counter-box-header">a vet</p>
                            <a asp-controller="Account" asp-action="AddQuestion" class="btn btn-silver-outline btn-circle">Click here to ask a vet</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>