 <!-- Page Header-->
<header class="page-header">
    <!-- RD Navbar-->
    <div class="rd-navbar-wrap" style="height: 171px;">
        <nav class="rd-navbar rd-navbar-transparent rd-navbar-original rd-navbar-static"
             data-layout="rd-navbar-fixed"
             data-sm-layout="rd-navbar-fixed"
             data-sm-device-layout="rd-navbar-fixed"
             data-md-layout="rd-navbar-static"
             data-md-device-layout="rd-navbar-fixed"
             data-lg-device-layout="rd-navbar-static"
             data-lg-layout="rd-navbar-static"
             data-stick-up-clone="false"
             data-md-stick-up-offset="72px"
             data-lg-stick-up-offset="72px">
            <div class="rd-navbar-top-panel toggle-original-elements">
                <div class="rd-navbar-top-panel-toggle toggle-original" data-rd-navbar-toggle=".rd-navbar-top-panel"><span></span></div>
                <div class="rd-navbar-top-panel-content">
                    <ul class="inline-list-xxs">
                        <li><a class="icon icon-xxs icon-circle icon-gray-outline icon-effect-1 fa fa-instagram" href="https://livedemo00.template-help.com/wt_61279/index-1.html#"></a></li>
                        <li><a class="icon icon-xxs icon-circle icon-gray-outline icon-effect-1 fa fa-facebook" href="https://livedemo00.template-help.com/wt_61279/index-1.html#"></a></li>
                        <li><a class="icon icon-xxs icon-circle icon-gray-outline icon-effect-1 fa fa-twitter" href="https://livedemo00.template-help.com/wt_61279/index-1.html#"></a></li>
                        <li><a class="icon icon-xxs icon-circle icon-gray-outline icon-effect-1 fa fa-google-plus" href="https://livedemo00.template-help.com/wt_61279/index-1.html#"></a></li>
                    </ul>
                    @if (ViewContext.HttpContext.User.Identity.IsAuthenticated)
                    {
                        <div class="object-inline">
                            <a class="link link-md link-white" href="/account">My Account</a>
                        </div>
                    }
                    else
                    {
                        <div class="object-inline">
                            <a class="link link-md link-white" href="/login">Login</a>
                            <p>/</p>
                            <a class="link link-md link-white" href="/register">Register</a>
                        </div>
                    }
                   
                </div>
            </div>
            <div class="rd-navbar-inner">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                    <button class="rd-navbar-toggle toggle-original" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                    <!-- RD Navbar Brand-->
                    <div class="rd-navbar-brand"><a class="brand-name" href="https://livedemo00.template-help.com/wt_61279/index.html"><img src="~/img/logo-default-176x45.png" alt="" width="176" height="45"></a></div>
                </div>
                <!-- RD Navbar Nav-->
                <div class="rd-navbar-nav-wrap toggle-original-elements">
                    <div class="rd-navbar-nav-wrap-bg"></div>
                    <ul class="rd-navbar-nav">
                        <li class="active">
                            <a href="https://livedemo00.template-help.com/wt_61279/index.html">Home</a>
                        </li>
                        <li>
                            <a href="https://livedemo00.template-help.com/wt_61279/about-us.html">About Us</a>
                        </li>
                        <li class="rd-navbar--has-dropdown rd-navbar-submenu">
                            <a href="https://livedemo00.template-help.com/wt_61279/adopt-a-pet.html">Adopt a Pet</a>
                            <ul class="rd-navbar-dropdown tabs-nav">
                                <li>
                                    <a href="https://livedemo00.template-help.com/wt_61279/adopt-a-pet.html#adopt-cats">Adopt cats</a>
                                </li>
                                <li>
                                    <a href="https://livedemo00.template-help.com/wt_61279/adopt-a-pet.html#adopt-dogs">Adopt dogs</a>
                                </li>
                                <li>
                                    <a href="https://livedemo00.template-help.com/wt_61279/adopt-a-pet.html#adopt-small-pets">Adopt small pets</a>
                                </li>
                                <li>
                                    <a href="https://livedemo00.template-help.com/wt_61279/single-page-pets.html">Single Page Pets</a>
                                </li>
                            </ul>
                            <span class="rd-navbar-submenu-toggle"></span>
                        </li>
                        <li>
                            <a href="https://livedemo00.template-help.com/wt_61279/lost-&amp;-found.html">Lost &amp; Found</a>
                        </li>
                        <li>
                            <a href="https://livedemo00.template-help.com/wt_61279/pet-services.html">Pet Services</a>
                        </li>
                        <li class="rd-navbar--has-dropdown rd-navbar-submenu">
                            <a href="https://livedemo00.template-help.com/wt_61279/news.html">News</a>
                            <ul class="rd-navbar-dropdown">
                                <li>
                                    <a href="https://livedemo00.template-help.com/wt_61279/single-post.html">Single post</a>
                                </li>
                            </ul>
                            <span class="rd-navbar-submenu-toggle"></span>
                        </li>
                        <li class="rd-navbar--has-megamenu rd-navbar-submenu">
                            <a href="https://livedemo00.template-help.com/wt_61279/index-1.html#">Pages</a>
                            <ul class="rd-navbar-megamenu rd-navbar-open-right">
                                <li>
                                    <p class="rd-megamenu-header">Donate</p>
                                    <ul class="rd-megamenu-list">
                                        <li><a href="https://livedemo00.template-help.com/wt_61279/make-a-gift-online.html">Make a Gift Online</a></li>
                                        <li><a href="https://livedemo00.template-help.com/wt_61279/sustaining-gifts.html">Sustaining Gifts</a></li>
                                        <li><a href="https://livedemo00.template-help.com/wt_61279/estate-and-planned-giving.html">Estate and Planned Giving</a></li>
                                        <li><a href="https://livedemo00.template-help.com/wt_61279/memorials-and-honorariums.html">Memorials and Honorariums</a></li>
                                        <li><a href="https://livedemo00.template-help.com/wt_61279/more-ways-to-give.html">More Ways to Give</a></li>
                                        <li><a href="https://livedemo00.template-help.com/wt_61279/host-your-own-fundraiser.html">Host Your Own Fundraiser</a></li>
                                        <li><a href="https://livedemo00.template-help.com/wt_61279/donate-to-our-wish-list.html">Donate to Our Wish List</a></li>
                                        <li><a href="https://livedemo00.template-help.com/wt_61279/donate-a-vehicle.html">Donate a Vehicle</a></li>
                                        <li><a href="https://livedemo00.template-help.com/wt_61279/community-service-projects.html">Community Service Projects</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <p class="rd-megamenu-header">Pages</p>
                                    <ul class="rd-megamenu-list">
                                        <li><a href="https://livedemo00.template-help.com/wt_61279/404-page.html">404 Page</a></li>
                                        <li><a href="https://livedemo00.template-help.com/wt_61279/503-page.html">503 Page</a></li>
                                        <li><a href="https://livedemo00.template-help.com/wt_61279/maintenance.html">Maintenance</a></li>
                                        <li><a href="https://livedemo00.template-help.com/wt_61279/coming-soon.html">Coming soon</a></li>
                                        <li><a href="https://livedemo00.template-help.com/wt_61279/login-page.html">Login page</a></li>
                                        <li><a href="https://livedemo00.template-help.com/wt_61279/register-page.html">Register page</a></li>
                                        <li><a href="https://livedemo00.template-help.com/wt_61279/search-results.html">Search results</a></li>
                                        <li><a href="https://livedemo00.template-help.com/wt_61279/privacy-policy.html">Privacy policy</a></li>
                                        <li><a href="https://livedemo00.template-help.com/wt_61279/site-map.html">Site map</a></li>
                                        <li><a href="https://livedemo00.template-help.com/wt_61279/contacts.html">Contacts</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <p class="rd-megamenu-header">Elements</p>
                                    <ul class="rd-megamenu-list">
                                        <li><a href="https://livedemo00.template-help.com/wt_61279/buttons.html">Buttons</a></li>
                                        <li><a href="https://livedemo00.template-help.com/wt_61279/grid.html">Grid</a></li>
                                        <li><a href="https://livedemo00.template-help.com/wt_61279/forms.html">Forms</a></li>
                                        <li><a href="https://livedemo00.template-help.com/wt_61279/progress-bars.html">Progress bars</a></li>
                                        <li><a href="https://livedemo00.template-help.com/wt_61279/tabs-&amp;-accordions.html">Tabs &amp; accordions</a></li>
                                        <li><a href="https://livedemo00.template-help.com/wt_61279/tables.html">Tables</a></li>
                                        <li><a href="https://livedemo00.template-help.com/wt_61279/typography.html">Typography</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <p class="rd-megamenu-header">Layouts</p>
                                    <ul class="rd-megamenu-list">
                                        <li><a href="https://livedemo00.template-help.com/wt_61279/header-default.html">Header default</a></li>
                                        <li><a href="https://livedemo00.template-help.com/wt_61279/header-transparent.html">Header transparent</a></li>
                                        <li><a href="https://livedemo00.template-help.com/wt_61279/header-fullwidth.html">Header fullwidth</a></li>
                                        <li><a href="https://livedemo00.template-help.com/wt_61279/header-modern.html">Header modern</a></li>
                                        <li><a href="https://livedemo00.template-help.com/wt_61279/footer-default.html">Footer default</a></li>
                                        <li><a href="https://livedemo00.template-help.com/wt_61279/footer-corporate.html">Footer corporate</a></li>
                                        <li><a href="https://livedemo00.template-help.com/wt_61279/footer-minimal.html">Footer minimal</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <span class="rd-navbar-submenu-toggle"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
