 <!-- Page Header-->
<header class="page-header">
    <!-- RD Navbar-->
    <div class="rd-navbar-wrap" style="height: 171px;">
        <nav class="rd-navbar rd-navbar-transparent rd-navbar-original rd-navbar-static"
             data-layout="rd-navbar-fixed"
             data-sm-layout="rd-navbar-fixed"
             data-sm-device-layout="rd-navbar-fixed"
             data-md-layout="rd-navbar-static"
             data-md-device-layout="rd-navbar-fixed"
             data-lg-device-layout="rd-navbar-static"
             data-lg-layout="rd-navbar-static"
             data-stick-up-clone="false"
             data-md-stick-up-offset="72px"
             data-lg-stick-up-offset="72px">
            <div class="rd-navbar-top-panel toggle-original-elements">
                <div class="rd-navbar-top-panel-toggle toggle-original" data-rd-navbar-toggle=".rd-navbar-top-panel"><span></span></div>
                <div class="rd-navbar-top-panel-content">
                    <ul class="inline-list-xxs">
                        <li><a class="icon icon-xxs icon-circle icon-gray-outline icon-effect-1 fa fa-instagram" href="https://livedemo00.template-help.com/wt_61279/index-1.html#"></a></li>
                        <li><a class="icon icon-xxs icon-circle icon-gray-outline icon-effect-1 fa fa-facebook" href="https://livedemo00.template-help.com/wt_61279/index-1.html#"></a></li>
                        <li><a class="icon icon-xxs icon-circle icon-gray-outline icon-effect-1 fa fa-twitter" href="https://livedemo00.template-help.com/wt_61279/index-1.html#"></a></li>
                        <li><a class="icon icon-xxs icon-circle icon-gray-outline icon-effect-1 fa fa-google-plus" href="https://livedemo00.template-help.com/wt_61279/index-1.html#"></a></li>
                    </ul>
                    @if (ViewContext.HttpContext.User.Identity.IsAuthenticated)
                    {
                        <div class="object-inline">
                            <a class="link link-md link-white" href="/account">My Account</a>
                            <p>/</p>
                            <a class="link link-md link-white" href="/logout">Logout</a>
                        </div>
                    }
                    else
                    {
                        <div class="object-inline">
                            <a class="link link-md link-white" href="/login">Login</a>
                            <p>/</p>
                            <a class="link link-md link-white" href="/register">Register</a>
                        </div>
                    }
                   
                </div>
            </div>
            <div class="rd-navbar-inner">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                    <button class="rd-navbar-toggle toggle-original" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                    <!-- RD Navbar Brand-->
                    <div class="rd-navbar-brand"><a class="brand-name" href="https://livedemo00.template-help.com/wt_61279/index.html"><img src="~/img/logo-default-176x45.png" alt="" width="176" height="45"></a></div>
                </div>
                <!-- RD Navbar Nav-->
                <div class="rd-navbar-nav-wrap toggle-original-elements">
                    <div class="rd-navbar-nav-wrap-bg"></div>
                    <ul class="rd-navbar-nav">
                        <li class="active">
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <a asp-controller="Forum" asp-action="Index">Forum</a>
                        </li>
                        <li class="rd-navbar--has-dropdown rd-navbar-submenu">
                            <a asp-controller="Education" asp-action="Index">Educational center</a>
                            <ul class="rd-navbar-megamenu rd-navbar-open-right">
                                <li style="width: 200px">
                                    <p class="rd-megamenu-header">Animal Type</p>
                                    <ul class="rd-megamenu-list" style="width: 200px">
                                        <li><a href="#">Dog     </a></li>
                                        <li><a href="#">Cat     </a></li>
                                        <li><a href="#">Farm animal     </a></li>
                                        <li><a href="#">Reptile     </a></li>
                                        <li><a href="#">Exotic     </a></li>
                                        <li><a href="#">Bird     </a></li>
                                        <li><a href="#">Fish     </a></li>
                                        <li><a href="#">Amphibian     </a></li>
                                        <li><a href="#">Spiders & Insects     </a></li>
                                        <li><a href="#">Small animal     </a></li>
                                        <li><a href="#">Other     </a></li>
                                    </ul>
                                </li>
                                <li>
                                    <p class="rd-megamenu-header">Category</p>
                                    <ul class="rd-megamenu-list">
                                        <li><a href="#">Health</a></li>
                                        <li><a href="#">Behavior & Training</a></li>
                                        <li><a href="#">Nutrition</a></li>
                                        <li><a href="#">Care</a></li>
                                        <li><a href="#">Breeds</a></li>
                                        <li><a href="#">Holistic Health Care</a></li>
                                        <li><a href="#">Natural Pet Products</a></li>
                                        <li><a href="#">Product Recoment</a></li>
                                    </ul>
                                </li>
                            </ul>

                        </li>
                        <li>
                            <a href="https://livedemo00.template-help.com/wt_61279/news.html">About us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
