<section>
    <div class="section-md section-md-alternate bg-white text-center">
        <div style="padding: inherit">
            <div class="container-fullwidth grid-system-outline">

                <div class="col-xs-8">
                    <div class="grid-element">
                        <div class="tabs-custom tabs-horizontal tabs-corporate" id="tabs-1">
                            <!-- Nav tabs-->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tabs-1-1" data-toggle="tab">Tab 1</a></li>
                                <li><a href="#tabs-1-2" data-toggle="tab">Публікації</a></li>
                                <li><a href="#tabs-1-3" data-toggle="tab">Відгуки</a></li>
                                <li><a href="#tabs-1-4" data-toggle="tab">Tab 4</a></li>
                            </ul>
                            <!-- Tab panes-->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tabs-1-1">
                                    <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers. Our site design and navigation has been thoroughly thought out. The layout is aesthetically appealing, contains concise texts in order not to take your precious time. Text styling allows scanning the pages quickly.</p>
                                    <p>Site navigation is extremely intuitive and user-friendly. You will always know where you are now and will be able to skip from one page to another with a single mouse click. We use only trusted, verified content, so you can believe every word we are saying. We are always happy to greet the new visitors on our site.</p>
                                </div>
                                <div class="tab-pane fade" id="tabs-1-2">
                                    <div class="range spacing-30">
                                        <div class="cell-sm-4">
                                            <!-- Post boxed-->
                                            <article class="post-boxed">
                                                <img class="post-boxed-image" src="images/news-1-570x333.jpg" alt="" width="570" height="333">
                                                <div class="post-boxed-body">
                                                    <p class="post-boxed-title"><a href="single-post.html">Wellness Care Plans for Your Pets and Their Benefits</a></p>
                                                    <div class="post-boxed-text">
                                                        <p>Have you ever considered enrolling your pet in a wellness care plan? These plans are quickly gaining popularity, and with good reason...</p>
                                                    </div>
                                                    <div class="post-boxed-footer">
                                                        <ul class="post-meta">
                                                            <li>
                                                                <span class="icon icon-xs icon-tan-hide material-icons-access_time"></span>
                                                                <time datetime="2016-01-01">16 February 2016</time>
                                                            </li>
                                                            <li><span class="icon icon-xs icon-tan-hide mdi mdi-thumb-up"></span><span>26</span></li>
                                                            <li><a href="single-post.html"><span class="icon icon-xs icon-tan-hide mdi mdi-comment-outline"></span><span>6</span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="cell-sm-4">
                                            <!-- Post boxed-->
                                            <article class="post-boxed post-boxed-blue-marguerite">
                                                <img class="post-boxed-image" src="images/news-2-570x333.jpg" alt="" width="570" height="333">
                                                <div class="post-boxed-body">
                                                    <p class="post-boxed-title"><a href="single-post.html">Top 5 Most Affectionate Cats for You and Your Family</a></p>
                                                    <div class="post-boxed-text">
                                                        <p>Contrary to popular belief, not all cats are the epitome of indifference. Some cat breeds are among the most affectionate and loving pets...</p>
                                                    </div>
                                                    <div class="post-boxed-footer">
                                                        <ul class="post-meta">
                                                            <li>
                                                                <span class="icon icon-xs icon-tan-hide material-icons-access_time"></span>
                                                                <time datetime="2016-01-01">17 February 2016</time>
                                                            </li>
                                                            <li><span class="icon icon-xs icon-tan-hide mdi mdi-thumb-up"></span><span>29</span></li>
                                                            <li><a href="single-post.html"><span class="icon icon-xs icon-tan-hide mdi mdi-comment-outline"></span><span>5</span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="cell-sm-4">
                                            <!-- Post boxed-->
                                            <article class="post-boxed post-boxed-tan-hide">
                                                <img class="post-boxed-image" src="images/news-3-570x333.jpg" alt="" width="570" height="333">
                                                <div class="post-boxed-body">
                                                    <p class="post-boxed-title"><a href="single-post.html">How Cats Can Improve Your Human Relationships</a></p>
                                                    <div class="post-boxed-text">
                                                        <p>In the past we’ve written about the effect cats have on humans. Today’s post takes this concept a step further. Here we are going to discuss how cats...</p>
                                                    </div>
                                                    <div class="post-boxed-footer">
                                                        <ul class="post-meta">
                                                            <li>
                                                                <span class="icon icon-xs icon-tan-hide material-icons-access_time"></span>
                                                                <time datetime="2016-01-01">18 February 2016</time>
                                                            </li>
                                                            <li><span class="icon icon-xs icon-tan-hide mdi mdi-thumb-up"></span><span>50</span></li>
                                                            <li><a href="single-post.html"><span class="icon icon-xs icon-tan-hide mdi mdi-comment-outline"></span><span>8</span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="cell-sm-4">
                                            <!-- Post boxed-->
                                            <article class="post-boxed">
                                                <img class="post-boxed-image" src="images/news-4-570x333.jpg" alt="" width="570" height="333">
                                                <div class="post-boxed-body">
                                                    <p class="post-boxed-title"><a href="single-post.html">Top 4 Dog Breeds You Can Easily Take to Work</a></p>
                                                    <div class="post-boxed-text">
                                                        <p>A dog in the workplace provides many positive benefits. However, before you decide to bring your dog to work with you check your company policies...</p>
                                                    </div>
                                                    <div class="post-boxed-footer">
                                                        <ul class="post-meta">
                                                            <li>
                                                                <span class="icon icon-xs icon-tan-hide material-icons-access_time"></span>
                                                                <time datetime="2016-01-01">19 February 2016</time>
                                                            </li>
                                                            <li><span class="icon icon-xs icon-tan-hide mdi mdi-thumb-up"></span><span>60</span></li>
                                                            <li><a href="single-post.html"><span class="icon icon-xs icon-tan-hide mdi mdi-comment-outline"></span><span>9</span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tabs-1-3">
                                    <div class="comment-group">
                                        <!-- Comment-->
                                        <article class="comment">
                                            <div class="comment-avatar">
                                                <img src="~/img/theresa-lane-80x80.jpg" alt="" width="80" height="80">
                                            </div>
                                            <div class="comment-body">
                                                <div class="comment-header">
                                                    <p class="comment-title">Theresa Lane</p><span class="comment-time">2 days ago</span>
                                                </div>
                                                <div class="comment-text">
                                                    <p>Thank you for your article, I think it can be very useful to volunteers of Animal Shelter.</p>
                                                </div>
                                                <div class="comment-footer"><a class="comment-link-reply" href="#">Reply</a></div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="comment-group">
                                        <!-- Comment-->
                                        <article class="comment">
                                            <div class="comment-avatar">
                                                <img src="~/img/theresa-lane-80x80.jpg" alt="" width="80" height="80">
                                            </div>
                                            <div class="comment-body">
                                                <div class="comment-header">
                                                    <p class="comment-title">Theresa Lane</p><span class="comment-time">2 days ago</span>
                                                </div>
                                                <div class="comment-text">
                                                    <p>Thank you for your article, I think it can be very useful to volunteers of Animal Shelter.</p>
                                                </div>
                                                <div class="comment-footer"><a class="comment-link-reply" href="#">Reply</a></div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="comment-group">
                                        <!-- Comment-->
                                        <article class="comment">
                                            <div class="comment-avatar">
                                                <img src="~/img/theresa-lane-80x80.jpg" alt="" width="80" height="80">
                                            </div>
                                            <div class="comment-body">
                                                <div class="comment-header">
                                                    <p class="comment-title">Theresa Lane</p><span class="comment-time">2 days ago</span>
                                                </div>
                                                <div class="comment-text">
                                                    <p>Thank you for your article, I think it can be very useful to volunteers of Animal Shelter.</p>
                                                </div>
                                                <div class="comment-footer"><a class="comment-link-reply" href="#">Reply</a></div>
                                            </div>
                                        </article>
                                        <div class="comment-group">
                                            <!-- Comment-->
                                            <article class="comment">
                                                <div class="comment-avatar">
                                                    <img src="~/img/ronald-austin-80x80.jpg" alt="" width="80" height="80">
                                                </div>
                                                <div class="comment-body">
                                                    <div class="comment-header">
                                                        <p class="comment-title">Ronald Austin</p><span class="comment-time">2 days ago</span>
                                                    </div>
                                                    <div class="comment-text">
                                                        <p>Thank you!</p>
                                                    </div>
                                                    <div class="comment-footer"><a class="comment-link-reply" href="#">Reply</a></div>
                                                </div>
                                            </article>
                                        </div>
                                        <form class="rd-mailform form-wide" data-form-output="form-output-global" data-form-type="contact" method="post" action="@Url.Action("AddComment", "Home")" novalidate="novalidate">
                                            <div class="range range-sm-bottom spacing-30">
                                                <div class="cell-xs-12">
                                                    <div class="form-group">
                                                        <textarea class="form-control form-control-has-validation" id="comment-message" name="message" data-constraints="@@Required"></textarea><span class="form-validation"></span>
                                                        <label class="form-label rd-input-label" for="comment-message">Message</label>
                                                    </div>
                                                </div>
                                                <div class="cell-sm-12">
                                                    <button class="btn btn-primary btn-effect-ujarak btn-block" type="submit">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tabs-1-4">
                                    <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers. Our site design and navigation has been thoroughly thought out. The layout is aesthetically appealing, contains concise texts in order not to take your precious time. Text styling allows scanning the pages quickly.</p>
                                    <p>Site navigation is extremely intuitive and user-friendly. You will always know where you are now and will be able to skip from one page to another with a single mouse click. We use only trusted, verified content, so you can believe every word we are saying. We are always happy to greet the new visitors on our site.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4" >
                    <div class="grid-element bg-gray-light">
                        <img class="img-responsive" src="~/img/gift-online-1-370x272.jpg" />
                        <div class="thumbnail-boxed-body">
                            <p class="thumbnail-boxed-title"><a href="single-page-pets.html">Lavender</a></p>
                            <div class="thumbnail-boxed-text">
                                <p>This beautiful cat had health issues her family couldn’t take care of, so she came to us...</p>
                            </div>
                            <div class="thumbnail-boxed-footer">
                                <ul class="thumbnail-boxed-meta">
                                    <li><span class="icon icon-xs icon-tan-hide material-icons-event_available"></span><span>2.1 years old</span></li>
                                    <li><span class="icon icon-xs icon-tan-hide material-icons-done"></span><span>7 pounds</span></li>
                                    <li><span class="icon icon-xs icon-tan-hide material-icons-place"></span><span>New York</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<partial name="~/Views/Shared/_Footer.cshtml" />
@section SnackBars
{ 
    <div class="snackbars" id="form-output-global">
        <p>
            <span class="icon text-middle mdi mdi-check icon-xxs"></span>
            <span>Successfully sent!</span>
        </p>
    </div>
}
