<div class="page-title">
    <div class="page-title-text">Quiz</div>
</div>

<div class="shell text-center quiz-hide-show-container">
    <div class="box-spacer-md quiz-container">
        <div class="range spacing-30">
            <div class="unit unit-xs-horizontal text-center text-xs-left ">

                <div class="unit-left">
                    <p class="box-spacer-title">1</p>
                </div>
                <div class="unit-body">
                    <h2>Do you spend a lot of time at home?</h2>
                    <div class="btn btn-primary btn-circle quiz-answer">Yes, I spend most of time at home.</div>
                    <br />
                    <div class="btn btn-primary btn-circle quiz-answer">No, but usually at evenings I'm at home</div>
                    <br />
                    <div class="btn btn-primary btn-circle quiz-answer">No, I have a lot of work trips and cannot spend much time at home.</div>
                </div>
            </div>
        </div>
    </div>
</div>

